*{
    font-family: 'Jua', sans-serif;
}
.options a{
    margin-right: 400px;
    padding: 10px;
}

.options #option a{
    text-align: center;
    font-size: 50px;
    text-decoration: none;
    color: black;
}
.options #option a:hover{
    transition-duration: 0.5s;
    background: #D8D8D8;
}

.target{
    font-size: 80px;
    text-align: center;
    margin-top: 300px;
}

.target #t_op{
    font-size: 80px;
}

.target input{
	height:70px;
	width:200px;
	font-size:50px;
}